<langs>
langs/cpp.xml
langs/java.xml
langs/ruby.xml
</langs>

<funcs>
print value
var type name value
setvar name value
sin name value
cos name value
tan name value
for name start end
end
</funcs>

<dest>test</dest>

<fnOpen>(</fnOpen>
<fnClose>)</fnClose>

<seperator>,</seperator>

<varPrefix>$</varPrefix>
<varSufix></varSufix>